<!DOCTYPE html>
<html>
<head>
  <title>QuizFinal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/css/pikaday.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/pikaday.min.js' %>
  <%= csrf_meta_tags %>
  <script> var picker = new Pikaday({ field: $('#bid_offer_price')[0] });</script>
</head>
<body>

<%= yield %>

</body>
</html>
