<!DOCTYPE html>
<html>
<head>
  <title>QuizFinal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/css/pikaday.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/pikaday.min.js' %>
  <%= csrf_meta_tags %>
  <script> var picker = new Pikaday({ field: $('#bid_offer_price')[0] });</script>
</head>
<body>
  <div class="container">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to("Bidder",  root_path , {class: "menu-item"}) %></li>
        </ul>
        <ul class ="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "Your Bids", user_bids_path, {class: "menu-item"} %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign In", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <%= yield %>

  </div>
</body>
</html>
